# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
server.log

# Misc
.DS_Store
capabilities.txt:Zone.Identifier
history_and_commands.txt
gemini_cli/
New ideas.txt
test.html
